<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="language" value="sv-se"/>-->
    <!--<add key="language" value="fi-fi"/>-->
    <add key="locale" value="en-GB"/>
    <add key="searchApiKey" value="enter key..."/>
    <add key="speechApiKey" value="enter key..."/>
  </appSettings>
</configuration>